:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --secondary-color: #212121;
  --subtext-color: #757575;
  --white-color: #ffffff;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
body {
  background-color: var(--white-color);
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--secondary-color);
}
.link {
  text-decoration: none;
}
h1 {
  margin: 0;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid #666; */
}
.img {
  display: block;
}

/*Разметка Хедера*/
.header {
  display: flex;
  height: 81px;
}
.navigation-container {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 85px;
}

.logo-web {
  color: var(--accent-color);
}
.navigation-list-item {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.underline::after {
  display: block;
  position: absolute;
  content: "";
  background-color: var(--accent-color);
  width: 47px;
  height: 4px;
  border-radius: 2px;
  bottom: 0px;
}
.underline-port::after {
  display: block;
  position: absolute;
  content: "";
  background-color: var(--accent-color);
  width: 77px;
  height: 4px;
  border-radius: 2px;
  bottom: 0px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link-studio {
  color: var(--accent-color);
}

.navigation {
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.navigation:hover,
.navigation:focus {
  color: var(--accent-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: ubic-bezier(0.4, 0, 0.2, 1);
}

.address > a {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-color);
}
.address > a:hover,
.address > a:focus {
  color: var(--accent-color);
  fill: #2196f3;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: ubic-bezier(0.4, 0, 0.2, 1);
}
.icon-header:hover,
.icon-header:focus {
  fill: var(--accent-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: ubic-bezier(0.4, 0, 0.2, 1);
}
.address > a:not(:last-child) {
  margin-right: 30px;
}
.icon-header {
  margin-right: 10px;
}

/*Hero section*/
.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../image/gallery/hero-min.jpg);
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
}
/* заголовок на секции героии */
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}

/* кнопка в секции герои */
.button {
  background-color: var(--accent-color);
  color: var(--white-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

/* ховер на кнопке-герое */
.button:hover,
.button:focus {
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: ubic-bezier(0.4, 0, 0.2, 1);
}

/*Секция наши приемущества*/
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-caption {
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages-text {
  font-family: var(--main-font);
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--subtext-color);
}
.advantage-list {
  display: flex;
  justify-content: space-between;
}
.advantage-list-items:not(:last-child) {
  margin-right: 30px;
}

.icon {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

/*Секция Чем мы занимаемся*/
.what-we-do {
  padding-bottom: 94px;
}
.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}
.what-we-do-title {
  display: flex;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}
.what-we-do-list {
  display: flex;
  justify-content: space-between;
}
.what-we-do-list > li {
  position: relative;
}
.what-we-do-list > li:not(:last-child) {
  margin-right: 30px;
}
/* Секция Наша команда*/
.team {
  margin-left: auto;
  margin-right: auto;
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-list > li {
  width: 270px;
  height: 422px;
  background: var(--white-color);
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 30px;
}
.team-career {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--subtext-color);
  text-align: center;
  margin-top: 10px;
}
.team-social-links {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-social-links-items {
  display: flex;
  border-radius: 50%;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}
.team-social-links-items:not(:last-child) {
  margin-right: 10px;
}
.team-social-links-items:hover,
.team-social-links-items:focus {
  background-color: var(--accent-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: ubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-links-items:hover svg,
.team-social-links-items:focus svg {
  fill: #ffffff;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: ubic-bezier(0.4, 0, 0.2, 1);
}

.team-social {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.team-list-cards {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

/*Секция Постоянные клиенты*/
.customers {
  margin-bottom: 94px;
  margin-top: 94px;
}

.customers-list {
  display: flex;
  justify-content: space-between;
}
.customers-list > li {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.custumers-comany {
  fill: #afb1b8;
}
/* ховер на компании на лого */
.customers-list > li:hover svg,
.customers-list > li:focus svg {
  fill: var(--accent-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: ubic-bezier(0.4, 0, 0.2, 1);
}
/* ховер на компании на бордер */
.customers-list > li:hover,
.customers-list > li:focus {
  border-color: var(--accent-color);

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: ubic-bezier(0.4, 0, 0.2, 1);
}

/*Footer*/

/* общий класс для всего футера */
.footer {
  background-color: #2f303a;
}
.footer .container {
  display: flex;
  align-items: baseline;
}

/* Контейнер с лого и адресом */
.footer-block-logo {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 69px;
}
/* Отступ от логотипа в футере */
.footer-block-logo > address {
  margin-top: 20px;
}

/* Отступ в футере в адресе между елементами */
.footer-address-li {
  margin-bottom: 9px;
}
/*Контейнер в футере с соц сетями */
.footer-block:not(:last-child) {
  /* margin-top: 72px; */
  margin-right: 69px;
}
.logo-studio {
  color: var(--white-color);
}
.footer-address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white-color);
  margin-bottom: 9px;
}

/* соц сети в футере */
.footer-social-links-items {
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer-social-links-items svg {
  fill: #ffffff;
}
/* ховер для соцсетей в футере */
.footer-social-links-items:hover,
.footer-social-links-items:focus {
  background-color: var(--accent-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: ubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel,
.footer-mail {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
/* заголовоки в футере */
.call-to-action {
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
/* Инпут для футера для отправки мейла */
.footer-block-call-to-action {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  border-radius: 4px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-block-call-to-action:focus {
  outline: none;
}
/* Стилизация плейсхолдера в футере */
.footer-block-call-to-action::placeholder {
  color: rgba(255, 255, 255, 0.6);
  padding-top: 15px;
  padding-bottom: 15px;
}
/* кнопка Подписаться в футере */
.button-send {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Ховер на кнопку Подписаться */
.button-send:hover,
.button-send:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: ubic-bezier(0.4, 0, 0.2, 1);
}

/* значек самолетика в кнопке Подписаться */
.button-send::after {
  display: block;
  content: "";
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/send.svg");
}

/* МОДАЛЬНОЕ ОКНО */
/* Подложка под модального окна(фон) */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* описание формы модального окна */
.modal-form {
  width: 528px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 40px;
  position: relative;
}

/* Стилизация заголовка формы */
.modal-form-title {
  margin-bottom: 30px;
}
.modal-form-conect {
  position: relative;
}
/* Общая стилизация инпутов */
.modal-form-input {
  width: 100%;
  height: 40px;
  margin-bottom: 28px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
/* для иконки ИМЯ,ТЕЛЕФОН, МЕЙЛ */
.icon-form-name,
.icon-form-phone,
.icon-form-mail {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

/* позиционирование лейбла  ИМЯ,ТЕЛЕФОН,МЕИЛ */
.modal-form-lable-name,
.modal-form-label-phone,
.modal-form-label-mail {
  position: absolute;
  top: 10%;
  left: 42px;
  font-size: 14px;
  color: var(--subtext-color);
  letter-spacing: 0.01em;
}
.modal-form-input:focus,
.modal-form-input:hover {
  outline: none;
  border: 1px solid #2196f3;
  padding-left: 40px;
}
.modal-form-conect:focus-within icon-form-name {
  fill: var(--accent-color);
}

/* Стилизация rextarea */
.modal-message {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
}
/* стилизация плейсхолдера в модал меседж */
.modal-message::placeholder {
  padding: 12px 16px;
}
/* Стилизация соглашения на рассылку */
.modal-form-optional-label {
  margin-bottom: 30px;
}

/*Стилизация соглашения на рассылку */
.modal-form-option-span {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.modal-form-option-span > a {
  color: var(--accent-color);
}
/* Стилизация кнопки на форме */
.button-modal {
  transform: translateX(60%);
}

/* Портфолио */
.header-portfolio {
  border-bottom: 1px solid #ececec;
}
.filter {
  display: flex;
  justify-content: center;
  margin-top: 93px;
  margin-bottom: 50px;
}
.filter > li:not(:last-child) {
  margin-right: 8px;
}

/*Ховер для фильтра страници портфолио*/
.filter-active:hover,
.filter-active:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: ubic-bezier(0.4, 0, 0.2, 1);
}
.filter-active {
  width: 128px;
  height: 38px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  border: 0;
  border-radius: 4px;
}
/* галерея страници портфолио */
.galery {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
  overflow: hidden;
}
.galery > li:not(:nth-child(3n)) {
  margin-right: 30px;
}
.galery > li {
  margin-bottom: 30px;
  box-sizing: border-box;
}
.galery > li:hover,
.galery > li:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: ubic-bezier(0.4, 0, 0.2, 1);
}
/* 3n
    1)3*0=0
    2)3*1=3
    3)3*2=6
    4)3*3=9 */

.type-of-services-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--secondary-color);
  letter-spacing: 0.06em;
  text-decoration: none;
}
.type-of-services-about {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--subtext-color);
}
.type-of-services-about-text {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  /* transform: translate(-50%, -50%); */
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: #2196f3;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  padding: 63px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-about:hover .type-of-services-about-text {
  transform: translateY(0);
  opacity: 1;
}

.small-container {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.portfolio {
  color: var(--accent-color);
}

.container-about {
  position: relative;
  overflow: hidden;
}
